body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  background-color: #170055;
  color: #b5ffd9;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 20px;
  padding: 20px 40px 20px 40px;
  font-weight: bold;
  font-family: verdana;
  text-shadow: 2px 2px grey;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #b5ffd9;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-right: 20px;
  color: #b5ffd9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar li active.a {
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #b5ffd9;
  font-weight: bold;
}
